# Ignore everything in the directory
/*

# Exempt the LABS directory and its contents
!/LABS/

# Exempt the aic_lectures_pdf directory and its contents
!/aic_lectures_pdf/
!/annonated/
!/README.md
# Exempt the .gitignore file itself so it gets uploaded to GitHub
!.gitignore